h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.125em;
}

.content {
  margin: 80px auto 50px auto;
  font-size: 1em;
  max-width: 850px;
  text-align: center;
}

.footer {
  color: #fff;
  background-color: #222;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer p {
  margin: auto;
}

.footer a {
  color: #999;
}

.hr-title {
  border-top: solid 3px #49addf;
  width: 20%;
}

.selfie-pic {
  width: 200px;
  height: 200px;
}

.skill-badge {
  height: 125px;
}

.project-img {
  margin: auto;
  max-height: 300px;
}
